.input {
    max-width: 190px;
    display: none;
  }
  
  .labelFile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 250px;
    height: 190px;
    border: 2px dashed #ccc;
    align-items: center;
    text-align: center;
    padding: 5px;
    color: #404040;
    cursor: pointer;
  }
  
  .pageImporterCSV {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    font-family: Arial, sans-serif;
  }
  
  .pageImporterCSV h2 {
    font-size: 1.8rem;
    margin-bottom: 40px;
    color: #333;
  }
  
  .pageImporterCSV label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .pageImporterCSV input {
    width: 300px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    margin-left: 20px;
  }
  
  .pageImporterCSV .name, 
  .pageImporterCSV .secondName, 
  .pageImporterCSV .email, 
  .pageImporterCSV .phone, 
  .pageImporterCSV .poste, 
  .pageImporterCSV .entreprise {
    margin-bottom: 20px;
    width: 100%;
  }
  
  .pageImporterCSV button.suivant {
    padding: 10px 20px;
  }

.informations{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
}

.informations-end{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70%;
}

/* From Uiverse.io by mobinkakei */ 
#wifi-loader {
    --background: #62ff6a;
    --front-color: #00b400;
    --back-color: #c3dec5;
    --text-color: #425641;
    width: 64px;
    margin-bottom: 50px;
    height: 64px;
    border-radius: 50px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #wifi-loader svg {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #wifi-loader svg circle {
    position: absolute;
    fill: none;
    stroke-width: 6px;
    stroke-linecap: round;
    stroke-linejoin: round;
    transform: rotate(-100deg);
    transform-origin: center;
  }
  
  #wifi-loader svg circle.back {
    stroke: var(--back-color);
  }
  
  #wifi-loader svg circle.front {
    stroke: var(--front-color);
  }
  
  #wifi-loader svg.circle-outer {
    height: 86px;
    width: 86px;
  }
  
  #wifi-loader svg.circle-outer circle {
    stroke-dasharray: 62.75 188.25;
  }
  
  #wifi-loader svg.circle-outer circle.back {
    animation: circle-outer135 1.8s ease infinite 0.3s;
  }
  
  #wifi-loader svg.circle-outer circle.front {
    animation: circle-outer135 1.8s ease infinite 0.15s;
  }
  
  #wifi-loader svg.circle-middle {
    height: 60px;
    width: 60px;
  }
  
  #wifi-loader svg.circle-middle circle {
    stroke-dasharray: 42.5 127.5;
  }
  
  #wifi-loader svg.circle-middle circle.back {
    animation: circle-middle6123 1.8s ease infinite 0.25s;
  }
  
  #wifi-loader svg.circle-middle circle.front {
    animation: circle-middle6123 1.8s ease infinite 0.1s;
  }
  
  #wifi-loader svg.circle-inner {
    height: 34px;
    width: 34px;
  }
  
  #wifi-loader svg.circle-inner circle {
    stroke-dasharray: 22 66;
  }
  
  #wifi-loader svg.circle-inner circle.back {
    animation: circle-inner162 1.8s ease infinite 0.2s;
  }
  
  #wifi-loader svg.circle-inner circle.front {
    animation: circle-inner162 1.8s ease infinite 0.05s;
  }
  
  #wifi-loader .text {
    position: absolute;
    bottom: -40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: lowercase;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.2px;
  }
  
  #wifi-loader .text::before, #wifi-loader .text::after {
    content: attr(data-text);
  }
  
  #wifi-loader .text::before {
    color: var(--text-color);
  }
  
  #wifi-loader .text::after {
    color: var(--front-color);
    animation: text-animation76 3.6s ease infinite;
    position: absolute;
    left: 0;
  }
  
  @keyframes circle-outer135 {
    0% {
      stroke-dashoffset: 25;
    }
  
    25% {
      stroke-dashoffset: 0;
    }
  
    65% {
      stroke-dashoffset: 301;
    }
  
    80% {
      stroke-dashoffset: 276;
    }
  
    100% {
      stroke-dashoffset: 276;
    }
  }
  
  @keyframes circle-middle6123 {
    0% {
      stroke-dashoffset: 17;
    }
  
    25% {
      stroke-dashoffset: 0;
    }
  
    65% {
      stroke-dashoffset: 204;
    }
  
    80% {
      stroke-dashoffset: 187;
    }
  
    100% {
      stroke-dashoffset: 187;
    }
  }
  
  @keyframes circle-inner162 {
    0% {
      stroke-dashoffset: 9;
    }
  
    25% {
      stroke-dashoffset: 0;
    }
  
    65% {
      stroke-dashoffset: 106;
    }
  
    80% {
      stroke-dashoffset: 97;
    }
  
    100% {
      stroke-dashoffset: 97;
    }
  }
  
  @keyframes text-animation76 {
    0% {
      clip-path: inset(0 100% 0 0);
    }
  
    50% {
      clip-path: inset(0);
    }
  
    100% {
      clip-path: inset(0 0 0 100%);
    }
  }
  
  .texte_reussite {
    background-color: #d7ffe9;
    border-left: 5px solid #009281;
    padding: 15px 20px;
    font-size: 1.1rem;
    color: #006856;
    line-height: 1.6;
    border-radius: 5px;
    margin: 20px 0;
    text-align: center;
  }

  .button_back {
    display: flex;
    height: 3em;
    width: 100px;
    align-items: center;
    justify-content: center;
    background-color: #ffffff4b;
    letter-spacing: 1px;
    border: 3px solid #315cfd;
    border-radius: 45px;
    transition: all 0.3s;
    cursor: pointer;
    background: #fff;
   }
   
   .button_back > svg {
    margin-right: 5px;
    margin-left: 5px;
    width: 12px;
    font-size: 20px;
    transition: all 0.4s ease-in;
   }
   
   .button_back:hover > svg {
    font-size: 1.2em;
    transform: translateX(-5px);
   }
   
   .button_back:hover {
    box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
    transform: translateY(-2px);
   }






   .button_suite {
    display: flex;
    height: 3em;
    width: 100px;
    align-items: center;
    justify-content: center;
    background-color: #ffffff4b;
    letter-spacing: 1px;
    border: 3px solid #315cfd;
    border-radius: 45px;
    transition: all 0.3s;
    cursor: pointer;
    background: #fff;
   }
   
   .button_suite > svg {
    margin-right: 5px;
    margin-left: 5px;
    width: 12px;
    font-size: 20px;
    transition: all 0.4s ease-in;
   }
   
   .button_suite:hover > svg {
    font-size: 1.2em;
    transform: translateX(5px);
   }
   
   .button_suite:hover {
    box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
    transform: translateY(-2px);
   }










   .buttons{
    display: flex;
    width: 500px;
    gap: 300px;
   }




/* HOME PAGE */

/* Style global */
.home-page {
  font-family: 'Arial', sans-serif;
}

/* Section Header */
.header-section {
  background-image: url(../styles/cover.png);
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
  color: white;
}

.header-section .overlay {
  background-color: rgba(0, 0, 0, 0.5); /* Overlay pour assombrir l'image */
  padding: 50px;
  border-radius: 10px;
}

.header-section h1 {
  font-size: 3rem;
}

.header-section p {
  margin-top: 20px;
  font-size: 1.2rem;
}

.header-section .buttonAO {
  margin-top: 30px;
  padding: 15px 30px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
}

.header-section .buttonAO:hover {
  background-color: #0056b3;
}

/* Section Avantages */
.features-section {
  padding: 50px 20px;
  text-align: center;
  background-color: #f4f4f4;
}

.features-section h2 {
  font-size: 2.5rem;
}

.features-container {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.feature-item {
  width: 30%;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.feature-item h3 {
  font-size: 1.5rem;
  color: #007BFF;
}

/* Section Exemples */
.examples-section {
  padding: 50px 20px;
  background-color: white;
  text-align: center;
}

.examples-section h2 {
  font-size: 2.5rem;
}

.examples-container {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.example-item {
  width: 30%;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Section Appel à l'Action */
.cta-section {
  padding: 50px 20px;
  background-color: #007BFF;
  color: white;
  text-align: center;
}

.cta-section h2 {
  font-size: 2.5rem;
}

.cta-section p {
  margin-top: 20px;
  font-size: 1.2rem;
}

.cta-section .buttonAO-large {
  margin-top: 30px;
  padding: 15px 30px;
  background-color: #0056b3;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
}

.cta-section .buttonAO-large:hover {
  background-color: #003f7f;
}